*.py[co]
__pycache__
node_modules

tests/e2e/reports/
selenium-debug.log
chromedriver.log
geckodriver.log

venv
static
.DS_Store

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/venv/
